@charset "utf-8";
/* CSS Document */

#form 
{
	position:relative;
	width: 400px;
	margin-left:auto;
	margin-right:auto;
	background-color:#aaa;
	border: 1px solid black;
	padding: 10px;
}

#confirmation
{
	position: relative;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #aaa;
	border: 1px solid black;
	padding: 10px;
	display:none;
}

