@charset "UTF-8";

.op{
    width: 600px;
    color:#ffffff;
    display:grid;
    grid-template-columns:150px auto 150px;
}
a{
    margin-top:20px;
    width:100%;
    display:block;
    background-color:#333;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
}
a:link, a:visited{
    background-color:#333;
}
a:hover, a:active{
    background-color:#666;
}